:javascript
  var geocoder;
  var map;
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  google.maps.event.addDomListener(window, 'load', initialize);

#map-canvas

%header.search-pane
  %h1 Food Finder

  %form
    .search-location
      %input#search{ placeholder: 'Address / City / Zip' }
      %button{:class => "btn btn-options"} Options

    .options
      %p I am looking for:
      .search-type
        %ul
          %li
            %input{ :id => "groceries", :type => "checkbox" }
            %label{ :for => "groceries" } Groceries
          %li
            %input{ :id => "hot-meals", :type => "checkbox" }
            %label{ :for => "hot-meals" } Hot Meals
          %li
            %input{ :id => "fresh-produce", :type => "checkbox" }
            %label{ :for => "fresh-produce" } Fresh Produce

.results-container.slide.in
  %main.results-pane
    %h2 Results
    %hr

    #results
