@import 'variables';

html, body {
  height: 100%;
  font-size: 16px;
  overflow: hidden;
  overflow-y: scroll;
  font-family: $font-sans-serif;
}

h1 {
  color: white;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  background-color: $brand-primary;
  margin-top: 0;
  padding-top: 16px;
}

hr {
  border: solid 1px #eee;
}

ul {
  li {
    list-style: circle;
  }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

header {
  background-color: $brand-primary;
  .search-location {
    padding: 16px;
    input {
      width: 70%;
      border: none;
      border-radius: $border-radius;
      padding: 8px;
      //margin-right: 16px;
    }
    a {
      color: white;
      text-decoration: none;
      right: 0;
      width: 30%;
    }
  }

  .options {
    ul {
      padding-left: 0;
      width: 100%;
      li {
        list-style: none;
        width: 100%;
        label {
          width: 100%;
        }
      }
    }
    font-size: 18px;
    background-color: $brand-offwhite;
    padding: 2px 16px;
    display: none;
  }
}

main {
  padding: 16px;
}

.search-pane {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.results-pane {
  box-sizing: border-box;
  position: absolute;
  top: 400px;
  right: 0;
  background-color: #fefefe;
}

.slide {
  -webkit-transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  &.in {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@media(min-width: 768px) {
  #map {
    height: 100%;
    width: 70%;
    right: 30%;
  }

  .search-pane {
    top: 10px;
    left: 10px;
    width: 30%;

  }

  .results-pane {
    width: 30%;
    top: 0;
    padding: 16px;
  }

  header {
    h1 {
      border-radius: $border-radius;
    }
    border-radius: 8px;
    .options {
      margin: 0;
      display: block;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      margin-bottom: 2px;
    }
  }
}
