// Colors
$brand-primary: #5e2658;

html, body {
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

h1 {
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: $brand-primary;
	margin-top: 0;
	padding-top: 16px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

header {
	background-color: $brand-primary;
	.search-location {
		padding: 16px;
		input {
			width: 70%;
			border: none;
			border-radius: 8px;
			padding: 8px;
		}
		a {
			color: white;
			text-decoration: none;
			right: 0;
			width: 30%;
		}
	}


	.options {
		ul {
			padding-left: 0;
			li {
				list-style: none;
			}
		}
		background-color: #e8e8e8;
		padding: 2px 16px;
		//display: none;
	}
}

main {
	padding: 16px;
}

.search-pane {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.results-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.results-pane {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fefefe;
  margin-top: 400px;
}

@media(min-width: 768px) {
  #map {
    height: 100%;
    width: 70%;
    right: 30%;
  }

	.search-pane {
    top: 10px;
    left: 10px;

		width: 30%;

		padding: 16px;

	}

	.results-pane {
		width: 30%;
    margin-top: 0;
		padding: 16px;
	}
}
