!!! html
%html{ 'ng-app' => 'FoodFinder' }
  %head
    %title Foodfinder
    %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyArxBworipuSW-w30-xjZLTXHIAtgZ9xp0" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags


  %body{ 'ng-controller' => 'SearchCtrl' }
    = yield
